<form action="/users/registroProducto" method="POST">
    <input type="text" name="nombre">
    <input type="text" name="descripcion">
    <select name="select_stock">
        <option value="value1">disponible</option>
        <option value="value3">no disponible</option>
      </select>
      <select name="select_marca">
        <option value="value1">placa</option>
        <option value="value3">cables</option>
        <option value="value3">seguridad</option>
      </select>
    <input type="text" name="precio_de_adquisicion">
    <input type="text" name="precio_de_venta">

    <label for="avatar">imagen:</label>

    <input type="file" name="avatar">
</form>
