<!-- pie de pagina-->
<footer class="bg-light">
  <!--text-center p-2-->
  <div class="grupo-1">
    <div class="box">
      <h3> UBICACIÓN </h3> 
      <div class="max-width"> 
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d598.1453140169867!2d-68.13490118157439!3d-16.500474013097545!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f2070f1fced71%3A0x87116b7af71d6074!2sMexico%201333%2C%20La%20Paz!5e0!3m2!1ses!2sbo!4v1649196993614!5m2!1ses!2sbo" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
    <div class="box">
      <h3>SÍGUENOS</h3> 
      <div class="red-social"> 
        <a href="https://www.facebook.com/" target="blank" class="fa fa-facebook fa-3x"></a>
        <a href="https://www.instagram.com/" target="blank" class="fa fa-instagram fa-3x"></a>
        <a href="https://www.twitter.com/" target="blank" class="fa fa-twitter fa-3x"></a>
      </div>
    </div>
 <div class="box">
      <h3> CONTÁCTOS </h3> 
      <p1>
        <span>
          <a href="https://wa.me/+59177252698">77252698</a></br>
          <a href="https://wa.me/+59168216290">68216290</a>
        </span>
      </p1>
    </div>
  </div>
    <div>
    <div class="grupo-2">
      <small> &copy; 2022 <b>Wabot</b> - Todos los derecho reservados</small>
    </div>
  </div>
</footer>
